body {
    font-family: sans-serif;
}
#allcontent {
    width:100%;
    text-align:center;
}
[contenteditable="true"]:focus, .MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus {
    outline: none;
}




.latexsection {
    padding-bottom: 1em;
}
hr {
    width: 15em;
    border-color: rgba(0,0,0,0.3);
}

.rawlatex {
    font-family: monospace;
    font-size: 1.5em;
}
.displaylatex {
    font-size: 1.5em;
}

.copybutton {
    /*background-color: rgba(0,0,0,0);
    color: rgb(11,95,201,1);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 1em 3em;
    margin:0;
    text-decoration: none;
    outline: none;*/
    text-decoration: none;
    border-radius: 0.3em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    background-color: rgb(255,255,255);
    color: rgb(11,95,201);
    margin-top:1em;
    font-size: 0.8em;
}



#statustext {
    padding-top: 1em;
}
#editorcontrolpanel {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 1em;
}

#editorcontextualstatusdiv {
    font-size: 1em;
    padding-top: 0.8em;
    padding-bottom: 0;
    margin-bottom: 0;
}
#stopButton {
    color: rgb(220,50,47);
    cursor: pointer;
}
#editorcontextualstatusmessage {
    color: rgb(101,123,131);
}
#editorcontextualstatusplaceholder {
    color: rgba(255,255,255,0);
}
#editoroutputlabel {
    padding-top: 0.5em;
}
#startButton {
    width: calc(100% - 4em);
    height: 2.3em;
text-decoration: none;
border-radius: 0.3em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    background-color: rgb(61,187,71);
    color: white;
    width: 12em;
    font-size: 1.1em;
}
button.editorrunbuttonrunning {
    background-color: rgb(230,180,0) !important;
}


